nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

nav li {
    margin: 0 15px; 
    padding: 20px 0; 
    font-size: 18px; 
}

section h1 {
    display: flex;
    justify-content: center;
}

.tarjetas-container {
    display: flex;
}

.tarjeta {
    width: 220px;
    padding: 15px;
    text-align: center;
}

.tarjeta img {
    max-width: 100%;
    height: auto; 
}

